{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in
globals())}} {{extend 'layout.html'}} {{block header}}
<header class="container-fluid background">
	<div class="jumbotron text-center">
		{{if response.title:}}
		<h1>
			{{=response.title}} <small>{{=response.subtitle or ''}}</small>
		</h1>
		{{pass}}
	</div>
</header>
{{end}}
  
  
  <!-- date picker -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#fromdate" ).datepicker();
    $( "#todate" ).datepicker();
  } );
  </script>
  
  
  
<div class="container">
	<form>
		<div class="form-group">
			<label for="fromloc">FROM:</label> <input type="text"
				class="form-control" id="fromloc" name="fromloc">
		</div>
		<div class="form-group">
			<label for="toloc">TO:</label> <input type="text"
				class="form-control" id="toloc" name="toloc">
		</div>
		<div class="form-group">
			<label for="fromdate">FROM DATE:</label> <input type="text"
				class="form-control" id="fromdate" name="fromdate">
		</div>
		<div class="form-group">
			<label for="todate">TO DATE:</label> <input type="text"
				class="form-control" id="todate" name="todate">
		</div>
		<div class="form-group">
			<label for="product">WHAT:</label>
			<textarea class="form-control" rows="5" id="product" name="product"></textarea>
		</div>
		<button id="btnsubmit" type="submit" class="btn btn-default">Submit</button>
	</form>
</div>