{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in
globals())}} {{extend 'layout.html'}} {{block header}}
<header class="container-fluid background">
	<div class="jumbotron text-center">
		{{if response.title:}}
		<h1>
			{{=response.title}} <small>{{=response.subtitle or ''}}</small>
		</h1>
		{{pass}}
	</div>
</header>
{{end}}

<div class="container">
	<div class="row">
		
			<button type="button" style="text-align:center" class="btn btn-info" onclick="location.href='{{=URL('ask')}}'">ask</button>
		
	</div>
	<br/>
	<div class="row">
		
			<button type="button" class="btn btn-success" style="text-align:center" onclick="location.href='{{=URL('offer')}}'">offer</button>
		
	</div>
</div>