{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in
globals())}} {{extend 'layout.html'}} {{block header}}
<header class="container-fluid background">
	<div class="jumbotron text-center">
		{{if response.title:}}
		<h1>
			{{=response.title}} <small>{{=response.subtitle or ''}}</small>
		</h1>
		{{pass}}
	</div>
</header>
{{end}}
  
  


{{=offers}}	